.color3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100%;
    margin: 0 2vw;
    padding: 1vw;font-size: $font5;
}

.primary { background: black; color: $primary; }
.p30 { background: black; color: $p30; }
.p60 { background: black; color: $p60; }
.p90 { background: black; color: $p90; }
.p120 { background: black; color: $p120; }
.p150 { background: black; color: $p150; }
.p180 { background: black; color: $p180; }
.p-150 { background: black; color: $p-150; }
.p-120 { background: black; color: $p-120; }
.p-90 { background: black; color: $p-90; }
.p-60 { background: black; color: $p-60; }
.p-30 { background: black; color: $p-30; }