@media screen and (min-width: 1500px) {
}


@media screen and (min-width: 1200px) {
}


@media screen and (min-width: 992px) {
    .color3 {
        grid-template-columns: repeat(6, 1fr);
    }

    p   {
        font-size: $font3;
    }

    #gridcontainer {
      grid-area: gridcontainer;
      display: grid;
      grid-template-areas: 
      "left right";
    }
}


@media screen and (min-width: 451px) {
}
