$todoborder: 2px solid $p150;

.todo-buttons {
    height: 6vh;
    margin: 1vw;
    padding: 1vw;
    color: $p150;
    font-size: $font2;
    background: black;
    border: $todoborder;
    border-radius: 8px;
    & :hover {
        border: 2px solid $p150;
    }
}

.bordered {
    border: 2px solid $p150;
    border-radius: 10px;
}

.scratch {
    text-decoration: line-through;
}

ul li {
    list-style-type: none;
}

.todo-text, p.todo-text {
    text-align: left;
    color: $p150;
    font-family: $fontprimary;
    font-size: $font2;
}

.del-text {
    color: $p-30;
    font-family: $fontprimary;
    background: black;
    border: none;
    height: 6vh;
    padding: 2vw;
    font-size: $font3;
}

.markbtn {
    font-size: $font3;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.item-row {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

#todocontainer {
    display: grid;
    grid-area: todocontainer;
    text-align: center;
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    grid-template-areas:
        "header"
        "list"
        "footer"
        "addbar";
    & #header {
        grid-area: header;
        color: $p-30;
    }
    & #todos {
        grid-area: list;
        padding: 0;
        margin: 0 auto;
        height: 6vh;
        display: grid;
        width: 100%;
        grid-template-areas:
        "listitem";
        & li .listitem {
            display: grid;
            grid-area: listitem;
            list-style-type: none;
            border: $todoborder;
            margin: 0;
            background: hotpink;
            height: 6vh;
            padding: 1vw;
            border-radius: 10px;
            grid-template-columns: 1fr 5fr 1fr;
            grid-template-areas:
            "markbtn itemtext delbtn";
            & #markbtn {
                grid-area: markbtn;
                border: $border;
                border-radius: 10px;
                width: 8vh;
                height: 8vh;
                padding: 2vw;
                margin: auto;
                padding: 2vw;
            }
            & #itemtext {
                grid-area: itemtext;
                padding: 2vw;
                height: 6vw;
            }
            & #delbtn {
                grid-area: delbtn;
                background: transparent;
                color: $primary;
                padding: 0;
                border: none;
                width: 100%;
                height: 8vw;
                font-size: $font4;
            }
        }
    }
    & #footer {
        height: 8vh;
        grid-area: footer;
        text-align: center;
        margin-top: 0;
        & #tasks {
            grid-area: tasks;
            text-align: center;
            margin: 0 auto;
            width: 60%;
        }
        & #allbtn {
            grid-area: allbtn;
            text-align: center;
        }
        & #actbtn {
            grid-area: actbtn;
            text-align: center;
        }
        & #donebtn {
            grid-area: donebtn;
            text-align: center;
        }
    }
    & #addbar {
        height: 8vh;
        /*position: absolute;
        bottom: 0vh;*/
        width: 100%;
        padding: 0;
        margin: 4vw 0 0 0;
        display: grid;
        grid-area: addbar;
        grid-template-columns: 8fr 1fr;
        grid-template-areas:
            "addinput addbtn";
        & #addinput {
            grid-area: addinput;
            background: black;
            color: $p-60;
            height: 8vh;
            width: 90%;
            margin: 0 1vw 0 0;
            padding: 0 0 0 1vw;
        }
        & #addbtn {
            grid-area: addbtn;
            background: black;
            color: $p150;
            width: 8vh;
            height: 8vh;
            margin: 0;
            font-size: $font6;
        }
    }
    & h3 {
        background: black;
        color: $accent;
        padding: 1vh;
        text-align: center;
        font-weight: bolder;
    }
}
