.todo-buttons {
    margin: none;
    padding: 0 ;
    border-radius: 0.5vh;
    background: black;
    border: 1px solid $p-30;
    & :hover {
        border: 1px solid $p150;
    }
}

ul li {
    list-style-type: none;
}

#addbtn, #delbtn {
    font-size: $font6;
    color: $p150;
}

#allbtn, #actbtn, #donbtn, #delbtn  {
    border: none;
}

#allbtn, #actbtn, #donbtn, #addinput, #addbtn {
    color: $p150;
    background: black;
    height: 8vh;
    padding: 1vh;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

#todocontainer {
    display: grid;
    grid-area: todocontainer;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    grid-template-areas:
        "header"
        "list"
        "footer"
        "addbar";
    & #header {
        grid-area: header;
        border: $border;
        border-radius: 10px;
    }
    & #list {
        grid-area: list;
        padding: 0;
        margin: 0 auto;
        display: grid;
        width: 100%;
        grid-template-areas:
        "listitem";
        & #listitem {
            display: grid;
            grid-area: listitem;
            list-style-type: none;
            border: $border;
            max-width: 300px;
            margin: 0;
            height: 9vw;
            padding: .5vw;
            border-radius: 10px;
            grid-template-columns: 1fr 5fr 1fr;
            grid-template-areas:
            "donebtn itemtext delbtn";
            & #donebtn {
                grid-area: donebtn;
                border: $border;
                border-radius: 10px;
                width: 7vw;
                height: 7vw;
                padding: .25vw;
                margin: 0;
            }
            & #itemtext {
                grid-area: itemtext;
                padding: 2vw;
                height: 8vw;
            }
            & #delbtn {
                grid-area: delbtn;
                background: transparent;
                color: $primary;
                padding: 0;
                border: none;
                width: 100%;
                height: 8vw;
                font-size: $font4;
            }
        }
    }
    & div#footer {
        display: grid;
        grid-area: footer;
        padding: .5vw;
        grid-template-columns: 4fr 2fr 2fr 2fr;
        justify-content: space-evenly;
    }
    & #addbar {
        height: 9vh;
        padding: 0;
        margin: 0;
        display: grid;
        grid-area: addbar;
        grid-template-columns: 8fr 1fr;
        grid-template-areas:
            "addinput addbtn";
        & #addinput {
            grid-area: addinput;
            color: $p-60;
            height: 6vh;
            margin: 2vw;
        }
        & #addbtn {
            grid-area: addbtn;
            width: 9vh;
            height: 9vh;
            margin: 2vw;
            font-size: $font6;
        }
    }
    & h3 {
        background: black;
        color: $accent;
        padding: 1vh;
        text-align: center;
        font-weight: bolder;
    }
}