#todocontainer {
    display: grid;
    grid-area: todocontainer;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    border: $border;
    border-radius: 10px;
    grid-template-areas:
        "header"
        "list"
        "footer"
        "addbar";
    & #header {
        grid-area: header;
        border: $border;
        border-radius: 10px;
    }
    & #list {
        grid-area: list;
        display: grid;
        grid-template-areas:
        "listitem";
        border: $border;
        border-radius: 10px;
        & .listitem {
            grid-area: listitem;
            display: grid;
            border: $border;
            height: 6vw;
            border-radius: 10px;
            padding: 1vh;
            grid-template-columns: 1fr 5fr 1fr;
            grid-template-areas:
            "markbtn itemtext delbtn";
            & .markbtn {
                grid-area: markbtn;
                border: $border;
                border-radius: 3px;
                width: 3vw;
                height: 6vw;
                font-size: $font4;
            }
            & .itemtext {
                grid-area: itemtext;
                border: $border;
                height: 6vw;
                border-radius: 10px;
            }
            & .delbtn {
                grid-area: delbtn;
                border: $border;
                border-radius: 3px;
                width: 100%;
                height: 6vw;
                font-size: $font4;
            }
        }
    }
    & #footer {
        border: $border;
        border-radius: 10px;
        grid-area: footer;
    }
    & #addbar {
        border: $border;
        border-radius: 10px;
        grid-area: addbar;
        grid-template-columns: 9fr 1fr;
        grid-template-areas:
            "input addbtn";
        & #addinput {
            grid-area: addinput;
        }
        & #addbtn {
            grid-area: addbtn;
            width: 3vw;
            height: 3vw;
            font-size: $font3;
        }
    }
    & h2 {
        background: black;
        color: $accent;
        text-align: center;
        font-weight: bolder;
    }
}