@import url("https://fonts.googleapis.com/css2?family=Dosis");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi&display=swap");
html {
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  background: #0300ca;
  background: -webkit-gradient(linear, left top, left bottom, from(#0300ca), to(#e0e400));
  background: linear-gradient(180deg, #0300ca, #e0e400);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0300ca",endColorstr="#e0e400",GradientType=1);
  color: #e5e900;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.color3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 4vw;
  padding: 2vw;
  background: transparent;
  border: 4px solid white;
  border-radius: 10px;
  margin: 4vw;
}

#buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 1vw;
  padding: 2vw;
  background: transparent;
  border: 4px solid white;
  border-radius: 10px;
  max-width: 100%;
  margin: 2vw;
  bottom: -2vw;
}

.buttons {
  background: #0400fd;
  border: 4px solid white;
  border-radius: 10px;
  margin: 1vw auto;
  width: 100%;
  height: 10vh;
  padding: 1vw;
  color: #e5e900;
  font-size: 1vw;
  font-weight: bold;
  font-family: "Hubbali", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.buttons .icon {
  margin: 0 auto;
  width: 4vw;
  height: 4vw;
}

.padit {
  padding: 2vw;
  max-width: 100%;
  margin: 1vw;
}

.f1 {
  font-family: "Hubbali", sans-serif;
}

.f2 {
  font-family: "Handlee", cursive;
}

.gridparts {
  border: 5px solid white;
  border-radius: 15px;
  margin: 0 auto;
  padding: 2vw;
  max-width: 100%;
  font-size: 5vh;
  font-weight: bolder;
  background: black;
}

.primary {
  color: #0300ca;
  margin: 0;
}

.p30 {
  color: #6800ca;
  margin: 0;
}

.p60 {
  color: #ca00c7;
  margin: 0;
}

.p90 {
  color: #ca0062;
  margin: 0;
}

.p120 {
  color: #ca0300;
  margin: 0;
}

.p150 {
  color: #ca6800;
  margin: 0;
}

.p180 {
  color: #e5e900;
  margin: 0;
}

.p-150 {
  color: #62ca00;
  margin: 0;
}

.p-120 {
  color: #00ca03;
  margin: 0;
}

.p-90 {
  color: #00ca68;
  margin: 0;
}

.p-60 {
  color: #00c7ca;
  margin: 0;
}

.p-30 {
  color: #0062ca;
  margin: 0;
}

.bordered {
  border: 2px solid hotpink;
  padding: 10px;
  margin: 10px;
}

.navbar {
  background: #6ab446;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .navbar-collapse {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .color3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=scripturechase.css.map */