@import url('https://fonts.googleapis.com/css2?family=Dosis');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500&display=swap');
@import "variables";
html {
    color: #fff;
    background: $mdgrey;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0 2vw;
    width: 94%;
    font-family: $fontsecond;
    background: black;
}

div, img {
    font-family: $fontprimary;
    background: black;
    padding: 2vw;
    width: 92%;
    margin: 2vw;
}

h1 { font-size: 7vh; }

h2 { font-size: 5vh;}

h3 { font-size: 4vh; }

p {
    color: $primary;
    padding: 2vw;
    margin: 0 2vw;
}

li {
    list-style: none;
}

a {
    color: $accent;
}

a:visited {
    color: $accent;
    text-decoration: none;
}

a:hover {
    color: white;
}

img {
    width: 50%;
}