@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi&display=swap");
body {
  grid-template-areas: "header" "main" "footer";
}
body header {
  grid-area: header;
}
body header #main-nav {
  display: grid;
  grid-area: main-nav;
  grid-template-areas: "list";
}
body header #main-nav ol {
  display: grid;
  grid-area: list;
  grid-template-areas: "list-item";
}
body header #main-nav ol li {
  display: grid;
}
body header #main-nav ol li a {
  grid-area: list-item;
}

#gridcontainer {
  grid-area: gridcontainer;
  display: grid;
  max-width: 100%;
  padding: 1vw;
  grid-template-areas: "left" "right";
}
#gridcontainer #left {
  grid-area: left;
}
#gridcontainer #right {
  grid-area: right;
  grid-template-areas: "todocontainer";
}
#gridcontainer #right #todocontainer {
  display: grid;
  grid-template-areas: "header" "todos" "footer" "addbar";
}

@media screen and (min-width: 451px) {
  #todocontainer {
    max-width: 500px;
  }
}
@media screen and (min-width: 992px) {
  .color3 {
    grid-template-columns: repeat(6, 1fr);
  }

  #gridcontainer {
    gap: 2vw;
    grid-template-areas: "left right";
  }
}
@media screen and (min-width: 1200px) {
  #todocontainer {
    max-width: 50%;
  }
}
.color3 {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  font-size: 4vh;
  padding: 0.25vw;
}

.primary {
  background: black;
  color: #ffb88f;
  margin: 0;
}

.p30 {
  background: black;
  color: #fff08f;
  margin: 0;
}

.p60 {
  background: black;
  color: #d6ff8f;
  margin: 0;
}

.p90 {
  background: black;
  color: #9eff8f;
  margin: 0;
}

.p120 {
  background: black;
  color: #8fffb8;
  margin: 0;
}

.p150 {
  background: black;
  color: #8ffff0;
  margin: 0;
}

.p180 {
  background: black;
  color: #8fd6ff;
  margin: 0;
}

.p-150 {
  background: black;
  color: #8f9eff;
  margin: 0;
}

.p-120 {
  background: black;
  color: #b88fff;
  margin: 0;
}

.p-90 {
  background: black;
  color: #f08fff;
  margin: 0;
}

.p-60 {
  background: black;
  color: #ff8fd6;
  margin: 0;
}

.p-30 {
  background: black;
  color: #ff8f9e;
  margin: 0;
}

input[type=checkbox].markbtnX {
  content: "✕";
  color: #ff8f9e;
  font-size: 6vh;
}

.dojo {
  background: url(https://gistcdn.githack.com/alexmwalker/6acbe9040d9fe6e5e9fd758a25e1b2a5/raw/635810bd1a925c06b5c0bc0c861d62fe53597078/dojo.svg) no-repeat;
  width: 90%;
  height: 800px;
  background-size: 100% auto;
  padding-top: 10px;
}

.quiz-body {
  width: 50%;
  background: white;
  margin: 0 auto;
  padding: 10px 20px 50px 20px;
  box-shadow: 4px 4px 11px 3px rgba(0, 0, 0, 0.3);
}

#question {
  font-size: 16px;
  height: 8vh;
}

#result {
  color: #fff;
  text-align: center;
}

#info, #question, #result {
  width: 90%;
  margin: 2vh auto;
}

.correct {
  background-color: #0c0;
}

.wrong {
  color: #fff;
  background-color: #c00;
}

.button {
  color: #ffffff;
  background-color: #611BBD;
  border-color: #130269;
  border-radius: 4px;
  margin: 0.2em 0;
  display: block;
  max-width: 100%;
  font-size: 24px;
}

html, body {
  color: #8fffb8;
  background: #7e5201;
  padding: 1vw;
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 5vh;
}

#autoheader {
  margin: 1vw;
}

#text {
  font-size: 3vh;
}

h2#tab-bar {
  overflow: hidden;
  margin-left: 4vw;
  bottom: 0;
  max-width: 100%;
  border-radius: 0;
  height: 4vh;
}
h2#tab-bar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ff8fd6;
  padding: 1vw 2vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d6ff8f;
  max-width: 90%;
  font-family: "Dosis", sans-serif;
  background: black;
  border-radius: 10px;
  margin: 2vh auto;
}

div,
form,
footer,
ul,
ol,
p,
header,
section {
  font-family: "Nunito", sans-serif;
  padding: 0 2vw;
  background: black;
  margin: 2vw auto;
  border-radius: 10px;
}

.exercise {
  border: 2px solid #ffb88f;
  border-radius: 10px;
  margin: 2vw;
}

.morespc {
  line-height: 1.5;
}

.centerimg {
  display: block;
  max-width: 100%;
  margin: auto;
}

h1 {
  font-size: 4vh;
  color: #d6ff8f;
}

h2 {
  font-size: 3vh;
}

h3 {
  font-size: 3vh;
}

h4 {
  font-size: 3vh;
  width: 85%;
}

h5 {
  font-size: 2vh;
  width: 80%;
  font-weight: bold;
}

h6 {
  font-size: 2vh;
  width: 75%;
  font-weight: bold;
}

.listdots {
  list-style: square;
}

.cert-text {
  font-size: 3vh;
  font-family: "Nunito", sans-serif;
  color: #ffd8c2;
}

.normal-text {
  color: #ffb88f;
  font-family: "Nunito", sans-serif;
  font-size: 3vh;
  padding: 2vw;
  margin: 0 2vw;
  background: black;
}

ol li {
  color: #8f9eff;
}
ol li a {
  font-size: 3vh;
  color: #8f9eff;
}
ol li a:hover {
  color: #b88fff;
}

a {
  color: #d6ff8f;
  text-decoration: none;
}

a:visited {
  color: #9eff8f;
}

a:hover {
  color: #8fd6ff;
}

.buttons {
  text-align: center;
  cursor: pointer;
  background: black;
  box-shadow: 0 0 10px #ffb88f;
  padding: 2vw;
  max-width: 50%;
  margin: 0 auto;
  height: 10vh;
  border-radius: 10px;
  color: #d6ff8f;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 3vh;
}
.buttons a {
  text-decoration: none;
  color: #8f9eff;
  font-size: 4vh;
}

.padit {
  padding: 4vw;
}

.padhead {
  padding: 2vw;
}

.padhead, .padit {
  max-width: 100%;
  margin: 1vw auto;
}

#presentations {
  max-width: 100%;
  margin: 1vw auto;
  padding: 2vw;
}

#certnav {
  margin: 0 auto;
  max-width: 100%;
  padding: 2vw;
  background: black;
  border-radius: 10px;
  font-size: 3vh;
  font-weight: bold;
}
#certnav a {
  text-decoration: none;
  color: #8f9eff;
}

#siteTitle2 {
  font-size: 4vh;
  color: #d6ff8f;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.inputs {
  max-width: 90%;
}

.textarea,
.inputs {
  background: #ffb88f;
  color: black;
  border-radius: 10px;
  border: 4px solid #ff7729;
  margin: 2vw;
}

textarea {
  width: 90%;
  height: 25vh;
}

footer#autofooter {
  font-family: "Dosis", sans-serif;
  font-size: 3vh;
  padding: 2vw;
  font-weight: bold;
  color: #d6ff8f;
  text-align: center;
  margin-bottom: 3vh;
}

.source {
  text-align: center;
  color: #f08fff;
  font-size: 3vh;
}

.sources {
  text-align: left;
  color: #8fffb8;
  font-size: 3vh;
  font-weight: bold;
  margin: 2vh auto;
}
.sources a {
  text-decoration: none;
  color: #8fffb8;
  font-size: 3vh;
}

.code {
  background: #ffb88f;
  color: black;
  font-size: 3vh;
  border-radius: 10px;
  padding: 1.5vw;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  width: 90%;
  margin: 2vw auto;
  text-decoration: none;
  list-style: none;
}

li {
  padding-left: 4vw;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.italic {
  font-style: italic;
}

h4.indent, p.indenth4 {
  padding-left: 4vw;
}

h5.indent, p.indenth5, p ul li.indent {
  padding-left: 8vw;
}/*# sourceMappingURL=styles.css.map */