@import url('https://fonts.googleapis.com/css2?family=Dosis');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500&display=swap');
@import "variables";
html {
    color: #fff;
    background: $background;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 2vw;
    max-width: 100%;
    font-family: $fontsecond;
    background: black;
    border-radius: 10px;
    margin: 2vw auto;
}

div, form {
    font-family: $fontprimary;
    background: black;
    padding: 2vw;
    max-width: 100%;
    margin: 2vw;
    border-radius: 10px;
}

.center-image {
    display: block;
    width: 95%;
    margin: auto;
}

h1 { font-size: 6vh; }
h2 { font-size: 4.5vh; width: 95%; }
h3 { font-size: 4vh; width: 90%; }
h4 { font-size: 3vh; width: 85%; }
h5 { font-size: 2vh; width: 80%; }
h6 { font-size: 2vh; width: 75%; }

.normal-text {
    color: $primary;
    font-family: $fontprimary;
    font-size: 3.5vh;
    padding: 2vw;
    margin: 0 2vw;
    background: black;
}

ul li {
    list-style: none;
}

ol li {
    color: $secondary;
}

a {
    color: $accent;
    text-decoration: none;
}

a:visited {
    color: $accent;
}

a:hover {
    color: $contrast;
}

img {
    width: 50%;
}

.buttons {
    text-align: center;
    cursor: pointer;
    background: black;
    border: $buttonborder;
    padding: 1vw;
    width: 100%;
    max-width: 25%;
    margin: 0 auto;
    height: 10vh;
    border-radius: 10px;
    color: $accent;
    font-family: $fontsecond;
    font-weight: bold;
    font-size: $font4;
    & a {
        text-decoration: none;
        color: $accent;
        font-size: 4vh;
    }
}

.inputs {
    max-width: 90%;
}

.textarea, .inputs {
    background: $primary;
    border-radius: 10px;
    border: $inputborder;
    margin: 1vw;
}

textarea {
    width: 90%;
    height: 25vh;
}

.tab-bar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    height: 4vh;
    a {
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
        color: $nav;
        padding: 1vw 2vw;
      }
  }