.color3 {
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    padding: 4%;
    border-radius: $radius;
    margin: 4% auto;
    font-family: $fontfirst;
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 90%;
}

.orange { background: black; color: $orange; margin: 0; }
.yellow { background: black; color: $yellow; margin: 0; }
.chartreuse { background: black; color: $chartreuse; margin: 0; }
.limegreen { background: black; color: $limegreen; margin: 0; }
.seafoam { background: black; color: $seafoam; margin: 0; }
.skyblue { background: black; color: $skyblue; margin: 0; }
.medblue { background: black; color: $medblue; margin: 0; }
.royalblue { background: black; color: $royalblue; margin: 0; }
.purple { background: black; color: $purple; margin: 0; }
.hotpink { background: black; color: $hotpink; margin: 0; }
.dksalmon { background: black; color: $dksalmon; margin: 0; }
.redorange { background: black; color: $redorange; margin: 0; }
