body {
    grid-template-areas:
    "header"
    "main"
    "footer";
    & header {
        grid-area: header;
        grid-template-columns: 2fr 1fr;
        & #main-nav {
            display: grid;
            grid-area: main-nav;
            grid-template-areas:
            "list";
            & ul {
                display: grid;
                grid-area: list;
                grid-template-areas:
                "list-item";
                & li {
                    display: grid;
                    & a {
                        grid-area: list-item;
                    }
                }
            }
        }
    }
}

#gridcontainer {
    position: relative;
    min-height: 100vh;
    grid-area: gridcontainer;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
        "left"
        "right";
    & autofooter {
        position: absolute;
        bottom: 0;
    }
    & #signInForm {
        grid-area: right;
    }
    & #signUpForm {
        grid-area: right;
    }
    & #left {
        grid-area: left;
        width: 100%;
        margin: 2% auto;
    }
    & #right {
        grid-area: right;
        width: 100%;
        margin: 2% auto;
        & #addbar {
            display: grid;
            max-width: 100%;
            grid-area: addbar;
            gap: 1%;
            margin: 2%;
            grid-template-areas:
            "catinput addinput addbtn";
            cursor: pointer;
            & #catinput {
                grid-area: catinput;
                background: $yellow;
                border: $todoborder;
            }
            & #addinput {
                grid-area: addinput;
                background: $yellow;
                border: $todoborder;
            }
            & #addbtn {
                grid-area: addbtn;
                font-size: 2rem;
                padding: 1% 2%;
                border-radius: $radius;
                background: $yellow;
                color: black;
                border: $todoborder;
            }
        }
    }
}

#todocontainer {
    grid-area: todocontainer;
    background: black;
    margin: 2% auto;
    grid-template-columns: 1fr;
    & #header1 {
        grid-area: header1;
        margin-bottom: 1%;
    }
    & #todos {
        grid-area: todos;
        width: 100%;
        margin: 1% auto;
        grid-template-areas:
        "listitem";
        & li.listitem {
            grid-area: listitem;
            width: 100%;
            line-height: normal;
            display: grid;
            grid-template-columns: 1fr 8fr 1fr 1fr;
            grid-template-areas:
            "markbtn itemtext delbtn editbtn";
            & .editbtn {
                grid-area: editbtn;
                background: white;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 5px;
                margin: auto;
                padding: none;
                border: none;
                & .editicon {
                    background: transparent;
                    margin: 0;
                    padding: 0;
                    width: .75rem;
                    height: .75rem;
                }
            }
            & .markbtn {
                grid-area: markbtn;
                border-radius: 5px;
                width: 1.5rem;
                height: 1.5rem;
                padding: 1%;
                margin: auto;
            }
            & #itemtext {
                grid-area: itemtext;
                height: 2rem;
                margin: 2% auto;
                padding: 10%;
            }
            & .delbtn {
                grid-area: delbtn;
                color: $redorange;
                background: transparent;
                margin: auto;
                border: none;
                font-size: $font2;
                font-weight: bold;
            }
        }
    }
    & h3 {
        padding: 1%;
        text-align: center;
        font-weight: bolder;
    }
}

#listfooter {
    display: grid;
    max-width: 95%;
    margin: 1% auto;
    grid-area: listfooter;
    grid-template-columns: 1fr;
    justify-content: left;
    grid-template-areas:
    "tasks"
    "sort"
    "btns"
    "srchbar";
    & #sortitems {
        grid-area: sort;
        display: flex;
        flex-direction: row;
        padding: 1%;
        margin: 1%;
        border: none;
        & h3 {
            font-family: $fontsecond;
            padding: 1%;
            margin: 0;
            color: $yellow;
        }
        & label {
            padding: 2%;
        }
    }
    & #btncontainer {
        grid-area: btns;
        width: 95%;
        margin: 2% auto;
        display: grid;
        gap: 1%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    & #tasks {
        grid-area: tasks;
        text-align: center;
        margin: 1% auto;
        width: 80%;
        padding: 1%;
    }
    & #allbtn, #actbtn, #donebtn, #srchbtn {
        border: $dotborder !important;
    }
    & #srchbar {
        display: grid;
        gap: 1%;
        grid-area: srchbar;
        width: 95%;
        margin: 1% auto;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
        "srchinput srchbtn";
        & #srchinput {
            grid-area: srchinput;
            padding: 1%;
            margin: 0;
            font-weight: bold;
            border: $todoborder;
            background: $limegreen;
            color: black;
        }
        & #srchbtn {
            grid-area: srchbtn;
            background: $limegreen;
            margin: 2%;
            padding: 2%;
            font-size: .75rem;
            color: black;
        }
    }
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
