body {
    grid-template-areas:
    "header"
    "main"
    "footer";
    & header {
        grid-area: header;
        grid-template-columns: 1fr 1fr;
        & #main-nav {
        display: grid;
        grid-area: main-nav;
        grid-template-areas:
        "list";
        & ul {
            display: grid;
            grid-area: list;
            grid-template-areas:
            "list-item";
            & li {
            display: grid;
            & a {
                grid-area: list-item;
          }
        }
      }
    }
  }
}

#gridcontainer {
    position: relative;
    min-height: 100vh;
    grid-area: gridcontainer;
    display: grid;
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "left"
        "right";
    & autofooter {
        position: absolute;
        bottom: 0;
    }
    & #signInForm {
        grid-area: right;
    }
    & #signUpForm {
        grid-area: right;
    }
    & #left {
        grid-area: left;
        margin: 0 auto;
    }
    & #right {
        grid-area: right;
        margin: 0 auto;
    }
}

#todocontainer {
    display: grid;
    grid-area: todocontainer;
    background: black;
    margin: 1% auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header1"
    "todos"
    "addbar"
    "listfooter";
    & #header1 {
        grid-area: header1;
        margin-bottom: 1%;
    }
    & #todos {
        grid-area: todos;
        padding: 1%;
        width: 100%;
        margin: 1% auto;
        grid-template-areas:
        "listitem";
        & li.listitem {
            grid-area: listitem;
            max-width: 100%;
            margin: 0;
            line-height: normal;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 8fr 1fr 1fr;
            grid-template-areas:
            "markbtn itemtext delbtn editbtn";
            & .editbtn {
                grid-area: editbtn;
                background: white;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 5px;
                margin: auto;
                border: none;
                & .editicon {
                    background: transparent;
                    width: .65rem;
                    height: .65rem;
                }
            }
            & .markbtn {
                grid-area: markbtn;
                border-radius: 5px;
                width: 1.5rem;
                height: 1.5rem;
                padding: 1%;
                margin: auto;
            }
            & #itemtext {
                grid-area: itemtext;
                height: 2rem;
                margin: 2% auto;
                padding: 10%;
            }
            & .delbtn {
                grid-area: delbtn;
                color: $redorange;
                background: transparent;
                margin: auto;
                border: none;
                font-size: $font2;
                font-weight: bold;
            }
        }
    }
    & #addbar {
        grid-area: addbar;
        gap: 2%;
        max-width: 100%;
        margin: 2%;
        grid-template-areas:
        "addinput addbtn";
        cursor: pointer;
        display: grid;
        grid-template-columns: 10fr 1fr;
        & #addinput {
            background: $yellow;
            border: $todoborder;
        }
        & #addbtn {
            font-size: 2rem;
            border-radius: $radius;
            background: $yellow;
            color: black;
            border: $todoborder;
        }
    }
    & h3 {
        padding: 1%;
        text-align: center;
        font-weight: bolder;
    }
}

#listfooter {
    display: grid;
    margin: 1%;
    grid-area: listfooter;
    grid-template-columns: 1fr;
    justify-content: left;
    grid-template-areas:
    "tasks"
    "sort"
    "btns"
    "srchbar";
    & #sortitems {
        grid-area: sort;
        display: flex;
        flex-direction: row;
        padding: 1%;
        margin: 1%;
        border: none;
        & h3 {
            font-family: $fontsecond;
            padding: 0;
            margin: 0;
            color: $yellow;
        }
    }
    & #btncontainer {
        grid-area: btns;
        width: 90%;
        margin: 2% auto;
        display: grid;
        gap: 1%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    & #tasks {
        grid-area: tasks;
        text-align: center;
        margin: 1% auto;
        width: 80%;
        padding: 1%;
    }
    & #allbtn, #actbtn, #donebtn, #srchbtn {
        border: $dotborder !important;
    }
    & #srchbar {
        display: grid;
        gap: 2%;
        grid-area: srchbar;
        width: 98%;
        margin: 2% auto;
        grid-template-columns: 9fr 1fr;
        grid-template-areas:
        "srchinput srchbtn";
        & #srchinput {
            grid-area: srchinput;
            padding: 1%;
            margin: 4%;
            font-weight: bold;
            border: $todoborder;
            background: $limegreen;
            color: black;
        }
        & #srchbtn {
            grid-area: srchbtn;
            background: $limegreen;
            margin: 4%;
            padding: 1%;
            color: black;
        }
    }
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
