@media screen and (min-width: 451px) {
}

@media screen and (min-width: 700px) {

    body { font-size: 15px; }


}

@media screen and (min-width: 992px) {

    body { font-size: 13px; }

    .color3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

}


@media screen and (min-width: 1200px) {

    #todocontainer {
        max-width: 50%;
    }

    body { font-size: 11px; }

    // h1.title { font-size: .8rem; padding: 1%; }
    // h2.title { font-size: .7rem; padding: 1%; }
    // #tabbar, h2.subtitle { font-size: .7rem; padding: 1%; }
    // h3.title { font-size: .6rem; padding: 1%; }
    // .sources { font-size: .5rem; color: $accent3; }
    // .normal-text, h4.title, #autofooter { font-size: .5rem; }

    #gridcontainer {
        max-width: 85%;
        border-radius: $lgradius;
    }
}

@media screen and (min-width: 1500px) {

    body { font-size: 9px; }

    // h1.title { font-size: .7rem; padding: 1%; }
    // h2.title { font-size: .6rem; padding: 1%; }
    // h3.title { font-size: .4rem; padding: 1%; }
    // #tabbar, h2.subtitle { font-size: .5rem; padding: 1%; }
    // .sources { color: $accent3; }
    // .normal-text, h4.title, #autofooter, .sources, .todo-text { font-size: .3rem; }

    #gridcontainer {
        max-width: 75%;
        margin: 0 auto;
    }

    .color3 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (min-width: 1700px) {

    body { font-size: 7px; }

    #gridcontainer {
        max-width: 60%;
        margin: 0 auto;
    }

    .color3 {
        grid-template-columns: repeat(7, 1fr);
    }
}
