@media screen and (min-width: 451px) {

    #todocontainer {
        max-width: 500px;
    }
}

@media screen and (min-width: 700px) {

    h1.title, li.cert-text { font-size: 3.5vw; }
    h2.title, .sources  { font-size: 2.5vw; }
    h3.title { font-size: 2.25vw; }
    p.normal-text, li a, #autofooter, .source, li.normal-text { font-size: 2vw; }
}

@media screen and (min-width: 992px) {

    h1.title, li.cert-text { font-size: 3vw; }
    h2.title, .sources  { font-size: 2.75vw; }
    h3.title { font-size: 2.5vw; }
    p.normal-text, li a, #autofooter, .source, li.normal-text { font-size: 2.25vw; }

    #gridcontainer {
        margin: 2vw 4vw;
    }

}


@media screen and (min-width: 1200px) {

    h1.title, li.cert-text { font-size: 2.5vw; }
    h2.title, .sources  { font-size: 2.5vw; }
    h3.title { font-size: 2.25vw; }
    p.normal-text, li a, #autofooter, .source, li.normal-text { font-size: 2vw; }

    #gridcontainer {
        max-width: 85%;
        margin: 0 auto;
        border-radius: $lgradius;
    }
}

@media screen and (min-width: 1400px) {
    
    h1.title, li.cert-text { font-size: 2vw; }
    h2.title, .sources  { font-size: 1.75vw; }
    h3.title { font-size: 1.5vw; }
    p.normal-text, li a, #autofooter, .source, li.normal-text { font-size: 1vw; }

    #gridcontainer {
        max-width: 75%;
        margin: 0 auto;
    }

    .color3 {
        grid-template-columns: repeat(6, 1fr);
    }
}
