.dojo {
    width: 80%;
    height: 800px;
    background-size: 100% auto;
    padding-top: 10px;
}

.quiz-body {
    border: $todoborder;
    border-radius: $radius;
    margin: 0 auto;
    padding: 10px 20px 50px 20px;
    -webkit-box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
}

.quizhead {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#question {
   font-size: 14px;
}

#result{
    color: #fff;
    text-align: center;
}

#info, #question, #result {
    border: $todoborder;
    border-radius: $radius;
    min-height: 6rem;
    width: 90%;
    margin: 2vh auto;
}

.correct {
    background-color: #0c0;
}

.wrong {
    color: #fff;
    background-color: #c00;
}

.button {
    color: #ffffff;
    height: 10vh;
    background-color: #611BBD;
    border-color: #130269;
    border-radius: 4px;
    margin: 0.2em 0;
    display: block;
    max-width: 100%;
    font-size: 24px;
}