.dojo {
    width: 80%;
    height: 800px;
    background-size: 100% auto;
    padding-top: 10px;
    margin: 0 auto;
}

.quiz-body {
    border: $todoborder;
    border-radius: $radius;
    margin: 0 auto;
}

.quizhead {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#question {
   font-size: 14px;
   min-height: 4rem;
}

#result{
    color: #fff;
    text-align: center;
}

#info, #question, #result {
    border: $todoborder;
    border-radius: $radius;
    width: 90%;
    margin: 2vh auto;
}

.correct {
    background-color: #0c0;
}

.wrong {
    color: #fff;
    background-color: #c00;
}

#response {
    display: grid !important;
    grid-template-columns: 1fr;
    min-height: 6rem;
}

.bghotpink { background-color: hotpink; }

.button {
    color: #ffffff;
    height: 10vh;
    background-color: #611BBD;
    border-color: #130269;
    border-radius: 4px;
    margin: 0.2em 0;
    display: block;
    max-width: 100%;
    font-size: 24px;
}