.dojo {
    width: 80%;
    height: 800px;
    background-size: 100% auto;
    padding-top: 10px;
    margin: 0 auto;
}

.quiz-body {
    border: $todoborder;
    border-radius: $radius;
    margin: 0 auto;
}

.quizhead {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    font-family: $fontfirst;
}

.quizcol {
    padding: 0 2%;
    display: grid;
    grid-template-columns: 6fr 1fr;
}

#question {
   font-size: .8rem;
}

#info, #question, #result {
    border: $todoborder;
    border-radius: $radius;
    width: 90%;
    margin: 2% auto;
}

.correct {
    background-color: $seafoam;
    color: $purple;
    font-weight: bold;
}

.wrong {
    color: $chartreuse;
    background-color: $redorange;
}

#result {
    padding: 2% 4%;
    font-family: $fontfirst;
}

#hint {
    color: $royalblue;
    background-color: $yellow;
}

#hint, #next, #start {
    max-width: 100%;
    margin: 2%;
    padding: 1% 4%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: $radius;
}

#response {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    margin: 1.5rem;
    gap: 1rem;
    min-height: 6rem;
}

.bghotpink { background-color: hotpink; }

.button {
    color: #ffffff;
    height: 10vh;
    background-color: #611BBD;
    border-color: #130269;
    border-radius: 4px;
    margin: 0.2em 0;
    display: block;
    max-width: 100%;
    font-size: 24px;
}
