@import url("https://fonts.googleapis.com/css2?family=Dosis");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi&display=swap');
@import "variables";
@import "grid";
@import "large";
@import "colors";
@import "checkbox";
@import "quizninja";


html, body {
  color: $primary;
  background: $background;
  padding: 1vw;
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: $font5;
}

#autoheader {
  margin: 1vw;
}

#text {
  font-size: $font3;
}

.padleft {
  padding-left: 4vw;
  padding-bottom: 1vw;
}

.padleft8 {
  padding-left: 8vw;
  padding-bottom: 1vw;
}

h2#tab-bar {
  overflow: hidden;
  margin-left: 4vw;
  bottom: 0;
  max-width: 100%;
  border-radius: 0;
  height: 4vh;
  a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: $nav;
    padding: 1vw 2vw;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $accent;
  max-width: 90%;
  font-family: $fontsecond;
  background: black;
  border-radius: 10px;
  margin: 2vh auto;
}

div,
form,
footer,
ul,
ol,
p,
header,
section {
    font-family: $fontprimary;
    padding: 0 2vw;
    background: black;
    margin: 2vw auto;
    border-radius: 10px;
}

.exercise {
    border: $border;
    border-radius: 10px;
    margin: 2vw;
}

.morespc { line-height: 1.5; }

.centerimg {
    display: block;
    max-width: 100%;
    margin: auto;
}

h1 {
    font-size: $font4;
    color: $accent;
}

h2 {
    font-size: $font3;
}

h3 {
    font-size: $font3;
}

h4 {
    font-size: $font3;
    width: 85%;
}

h5 {
    font-size: $font2;
    width: 80%;
    font-weight: bold;
}

h6 {
    font-size: $font2;
    width: 75%;
    font-weight: bold;
}

.listdots {
    list-style: square;
}

.cert-text {
    font-size: $font3;
    font-family: $fontprimary;
    color: $accent3;
}

.normal-text {
    color: $primary;
    font-family: $fontprimary;
    font-size: $font3;
    background: black;
}

ol {
    & li {
        color: $p-150;
        & a {
          font-size: $font3;
          color: $p-150;
        }
        & a:hover {
          color: $p-120;
        }
    }
}

a {
    color: $accent;
    text-decoration: none;
}

a:visited {
  color: $p90;
}

a:hover {
  color: $p180;
}

.buttons {
  text-align: center;
  cursor: pointer;
  background: black;
  box-shadow: $formshadow;
  padding: 2vw;
  max-width: 50%;
  margin: 0 auto;
  height: 10vh;
  border-radius: 10px;
  color: $accent;
  font-family: $fontsecond;
  font-weight: bold;
  font-size: $font3;
  & a {
    text-decoration: none;
    color: $p-150;
    font-size: 4vh;
  }
}

.padit {
  padding: 4vw;
}

.padhead {
  padding: 2vw;
}

.padhead, .padit {
  max-width: 100%;
  margin: 1vw auto;
}

#presentations {
  max-width: 100%;
  margin: 1vw auto;
  padding: 2vw;
}

#certnav {
  margin: 0 auto;
  max-width: 100%;
  padding: 2vw;
  background: black;
  border-radius: 10px;
  font-size: $font3;
  font-weight: bold;
  a {
    text-decoration: none;
    color: $p-150;
  }
}

#siteTitle2 {
  font-size: $font4;
  color: $accent;
  font-family: $fontsecond;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.inputs {
  max-width: 90%;
}

.textarea,
.inputs {
  background: $primary;
  color: black;
  border-radius: 10px;
  border: $inputborder;
  margin: 2vw;
}

textarea {
  width: 90%;
  height: 25vh;
}

footer#autofooter {
  font-family: $fontsecond;
  font-size: $font3;
  padding: 2vw;
  font-weight: bold;
  color: $accent;
  text-align: center;
  margin-bottom: 3vh;
}

.source {
  text-align: center;
  color: $p-90;
  font-size: $font3;
}

.sources {
  text-align: left;
  color: $p120;
  font-size: 3vh;
  font-weight: bold;
  margin: 2vh auto;
  & a {
    text-decoration: none;
    color: $p120;
    font-size: $font3;
  }
}

.code {
  background: $primary;
  color: black;
  font-size: $font3;
  border-radius: 10px;
  padding: 1.5vw;
  font-family: $fontsecond;
  font-weight: bold;
  width: 90%;
  margin: 2vw auto;
  text-decoration: none;
  list-style: none;
}

li {
  padding-left: 4vw;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.italic {
  font-style: italic;
}

h4.indent, p.indenth4 {
  padding-left: 4vw;
}

h5.indent, p.indenth5, p ul li.indent {
  padding-left: 8vw;
}