@import url('https://fonts.googleapis.com/css2?family=Handlee&amp;family=Hubballi&amp;family=Nunito:wght@300&amp;family=Yanone+Kaffeesatz:wght@200;300;400;500&amp;display=swap');

@import "variables";
@import "grid";
@import "colors";
@import "newsfeed";
@import "checkbox";
@import "quizninja";
@import "sliders";

* {
    box-sizing: border-box;
    font-size: 20px;
}

body {
    margin: 0;
    // background: $yellow;
    background: $background;
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    font-family: $fontfirst;
    font-weight: bold;
    color: $accent1;
    text-decoration: none;
    & :hover {
        color: $accent3;
    }
    & :visited {
      color: $accent2;
    }
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.no-spc {
    margin: 0 -15px;
}

#ocean {
    position: absolute;
    background-attachment: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.labels { border-radius: $radius; border: $todoborder; }

#social-share {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: none;
    & div {
        margin: 2%;
        padding: 1%;
        border-radius: $radius;
        background: black;
        width: 2rem;
        & button {
            & :hover {
                transform: scale(1.25);
                transition: all .1s ease-in-out;
            }
            & img {
                width: 50px;
                height: 50px;
                margin: 0 auto;
            }
        }
    }
}

.table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.sjcol {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr 2fr;
}

tr {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    text-align: left;
    padding: 2%;
}

h3.small {
    font-size: .75rem;
    color: $yellow;
}

.wave {
    background: $medblue;
    display: inline-block;
    height: 60%;
    width: 10px;
    position: absolute;
    animation-name:             dostuff;
    animation-duration:         3s;
    animation-iteration-count:  infinite;
    transition-timing-function: ease-in-out;
}

@keyframes dostuff {
    0% {
       height:60%;
    }
    50% {
       height:40%;
    }
    100% {
       height:60%;
    }
}

main, header, footer {
    max-width: 90%;
    border-radius: $radius;
    margin: 4% auto;
    padding: 1%;
}

main, header, section, footer, div {
    background: black;
}

.bold {
    font-weight: bold;
}

.centered {
    text-align: center;
    max-width: 90%;
    margin: 1rem auto;
}

.whitebg {
    background: white;
    border-radius: $radius;
}

.maincontainer {
    position: absolute;
    width: 250px;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flipcard {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: $background;
    border-radius: $radius;

}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: $background;
    border-radius: $radius;
    transform: rotateY(180deg);
}

.flipcard {
    transform: rotateY(180deg);
}

.flipcard:hover {
    transform: rotateY(180deg);
}
.imgbox {
    align-items: center;
    max-width: 90%;
    padding: .5rem;
    margin: 1%;
    max-height: 40%;
    font-size: .25rem;
}

.listdots {
    list-style: square;
}

.f1 {
    font-family: $fontfirst;
}

.f2 {
    font-family: $fontsecond;
}

.fifty {
    width: 50%;
    margin: 1% auto;
}

.sevenO {
    width: 70%;
    margin: 1% auto;
}

.specialfont {
    font-family: $fontfirst;
    font-size: .5rem;
    font-weight: bold;
    color: $accent3;
}

.form-group {
    margin-bottom: 1rem;
    background-color: $royalblue;
    color: $yellow;
    padding: 1%;
    margin: 1% auto;
    display: grid;
    grid-template-columns: 1fr;
    & p .inputs {
        padding: 2%;
        width: 33%;
    }
}

.gridparts {
    border: 5px solid white;
    border-radius: 15px;
    margin: 0 auto;
    padding: 2%;
    max-width: 100%;
}

.warning {
    color: $warning;
    font-weight: bold;
    font-family: $fontfirst;
    padding: 1%;
}

.marg {
    margin: 2% 10%;
}

.pad2 {
    padding: 2%;
}

.pad1 {
    padding: 1%;
}

.padleft {
    padding-left: 4%;
}

.padleft8 {
    padding-left: 8%;
}

h2#tab-bar {
    overflow: hidden;
    margin-left: 4%;
    bottom: 0;
    border-radius: 0;
    max-height: 4%;
    a {
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
        color: $accent1;
        padding: 1% 2%;
    }
}

.col3 {
   grid-template-columns: 1fr 4fr 1fr;
    margin: 4% auto;
}

#get-unit { display: grid; grid-template-columns: 1fr 1fr; }

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.exercise {
    border: $border;
    border-radius: $radius;
    margin: 2%;
}

.morespc { line-height: 1.5; }

.centerimg {
    display: block;
    max-width: 90%;
    margin: auto;
}

.img50 {
    width: 50%;
}

img {
    font-size: $font1;
    color: $accent2;
    border-radius: $radius;
}

.listdots {
    list-style: square;
}

a.cert-text {
    font-size: .85rem;
    font-family: $fontsecond;
    text-align: left;
    font-weight: bold;
    max-width: 100%;
    line-height: 1.5rem;
}

a:visited.cert-text {
    color: $accent2;
    font-family: $fontsecond;
}

a.sub-text {
    font-size: .65rem;
    font-family: $fontfirst;
    color: $accent1;
    text-align: left;
    font-weight: bold;
    max-width: 100%;
}

a:visited.sub-text {
    color: $accent3;
    font-family: $fontfirst;
}

.normal-text {
    color: white;
    font-family: $fontfirst;
    text-align: left;
    font-size: .6rem;
    padding: 0 4%;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontsecond;
    font-weight: bold;
}

.title {
    font-family: $fontsecond;
    text-align: left;
    color: $yellow;
    background: black;
    padding: 2%;
    margin: 0 auto;
}

.title a {
    color: $accent1;
    text-decoration: none;
    &:hover {
        color: $hotpink;
    }
}

.hide {
    display: none !important;
}

.show {
    display: inline-block !important;
}

.hotpinkbg {
    background: $hotpink;
}

::placeholder {
    color: black;
}

.nodots {
    list-style-type: none;
}

.todo-text, p.todo-text {
    text-align: left;
    color: white;
    font-family: $fontfirst;
}

.markbtn {
    border-radius: 10px;
    margin: .5%;
    padding: .5%;
    width: 6rem;
    height: 6rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.todo-buttons {
    color: $yellow;
    background: $royalblue;
    border: $todoborder;
    border-radius: $radius;
    height: 2rem;
    font-size: $font1;
    & a {
      text-decoration: none;
      color: $royalblue;
      text-align: center;
      & :hover {
          border: 2px solid $yellow;
      }
    }
}

.todo-bordered {
    border: $todoborder;
    border-radius: $radius;
}

.white {
    color: white;
}

.wborder {
    border: $buttonborder;
    border-radius: $radius;
}

.startbtn { width: 50%; }

.quizbutton {
    min-height: 3rem;
    width: 100% !important;
    margin: 1% auto;
 }

.buttons, .quizbutton {
    text-align: center;
    cursor: pointer;
    background: $royalblue;
    padding: 1%;
    border: $buttonborder;
    border-radius: $radius;
    color: $yellow;
    font-family: $fontfirst;
    font-weight: bold;
    & a {
        width: 100%;
        text-decoration: none;
        margin-bottom: 4%;
    }
}

.smbuttons {
    font-size: small;
    margin: 0 auto;
    max-width: 100%;
}

.buttons-danger {
    text-align: center;
    cursor: pointer;
    background: $yellow;
    padding: 1%;
    border: $buttonborder;
    border-radius: $radius;
    color: $redorange;
    font-family: $fontfirst;
    font-weight: bold;
    & a {
        width: 100%;
        text-decoration: none;
        margin-bottom: 4%;
    }

}

.padit {
    padding: 2%;
}

.padhead {
    padding: 1%;
}

#presentations {
    max-width: 100%;
    margin: 1% auto;
    padding: 2%;
}

#siteTitle2 {
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
}

.textarea,
.inputs {
    border-radius: $radius;
}

.bwhite { background: white; }

.foot-row {
    margin: auto;
}

textarea {
    width: 90%;
    height: 15%;
}

footer#autofooter, footer {
    color: $yellow;
    font-family: $fontsecond;
    border-radius: $radius;
    font-weight: bold;
    text-align: center;
}

a.source {
    text-align: left;
    color: $accent1;
    font-family: $fontfirst;
    padding: 2%;
    margin: 2rem auto;
    line-height: 1.2rem;
    & a {
      text-decoration: none;
      font-weight: bold;
      color: $accent2;
    }
}

.sources {
    text-align: left;
    line-height: 1.05;
    margin: 2% auto;
    font-family: $fontsecond;
    font-weight: bold;
}

tr, td, th {
    padding: 2%;
    text-align: left;
}

tr {
    line-height: 1.5;
}

.code {
    background: $yellow;
    color: $royalblue;
    border-radius: $radius;
    padding: 1.5%;
    font-family: $fontfirst;
    font-weight: bold;
    font-size: medium;
    width: 90%;
    margin: 2% auto;
    text-decoration: none;
    list-style: none;
}

.todo-scratch {
    text-decoration: line-through;
}

.col1 {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
}

.icon {
    margin: 0 auto;
    width: 45px;
    height: 45px;
    font-size: .25rem;
    padding: .5rem;
}

.icondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 85px;
    height: 85px;
    font-size: .25rem;
}
.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    background: black;
    border-radius: $radius;
}

.col5 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    gap: 5%;
}

.nav, header { padding: 2%; margin: 2% auto; }

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

h1.title { font-size: 1.05rem; }
h2.title { font-size: 1rem; }
h3.title { font-size: .9rem; }
#tabbar, h2.subtitle { font-size: .75rem; padding: 2%; }
.sources { font-size: .8rem; color: $accent3; }
.normal-text, h4.title, .source, .todo-text { font-size: .7rem; }

h2.subtitle {
    color: $yellow;
    height: 3%;
    font-family: $fontsecond;
    font-size: .75rem;
    font-weight: bold;
    margin: 2%;
}

li.normal-text { list-style-type: square; margin: 0 auto; }
//p.normal-text, li.normal-text, li a, #autofooter, .code, .source, li.title { font-size: .25rem; }

@import "large";
