@import url("https://fonts.googleapis.com/css2?family=Dosis");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi&display=swap');
@import "variables";
@import "large";
@import "grid";
@import "colors";
@import "checkbox";
@import "quizninja";


html, body {
  color: $skyblue;
  background: $background;
  font-size: 12px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul { list-style: none; }
li { padding: 1.5vw 0; }

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.title {
  font-family: $fontsecond;
  color: $yellow;
  font-size: $font3;
  padding: 2vw;
}

h1 {
  font-size: $font7;
}

#autoheader {
  margin: 1vw;
}

.marg {
  margin: 2vw 10vw;
}

.pad2 {
  padding: 2vw;
}

#text {
  font-size: $font3;
}

.padleft {
  padding-left: 4vw;
  padding-bottom: 1vw;
}

.padleft8 {
  padding-left: 8vw;
  padding-bottom: 1vw;
}

h2#tab-bar {
  overflow: hidden;
  margin-left: 4vw;
  bottom: 0;
  max-width: 100%;
  border-radius: 0;
  height: 4vh;
  a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: $accent2;
    padding: 1vw 2vw;
  }
}

div,
form,
footer,
p,
header,
section,
.title, 
main {
    max-width: 90%;
    border-radius: $radius;
    margin: 2vw auto;
    background: black;
}

.exercise {
    border: $border;
    border-radius: 10px;
    margin: 2vw;
}

.morespc { line-height: 1.5; }

.centerimg {
    display: block;
    max-width: 100%;
    margin: auto;
}

.listdots {
    list-style: square;
}

.cert-text {
    font-size: $font4;
    font-family: $fontsecond;
    color: $skyblue;
    font-weight: bold;
}

li a {
    color: $skyblue;
    font-size: $font3;
    font-weight: bold;
    font-family: $fontfirst;
}

.normal-text {
    color: white;
    font-family: $fontfirst;
    font-size: $font3;
    font-weight: bold;
}

a {
    font-family: $fontsecond;
    text-decoration: none;
}

a:visited {
  color: $seafoam;
}

a:hover {
  color: $medblue;
}

.wborder {
  border: $buttonborder;
  border-radius: 10px;;
}

.buttons {
  text-align: center;
  cursor: pointer;
  background: $royalblue;
  box-shadow: $formshadow;
  padding: 2vw;
  max-width: 50%;
  margin: 0 auto;
  height: 10vh;
  border: $buttonborder;
  border-radius: 10px;
  color: $yellow;
  font-family: $fontsecond;
  font-weight: bold;
  font-size: $font3;
  & a {
    text-decoration: none;
    color: $royalblue;
    font-size: 4vh;
  }
}

.padit {
  padding: 4vw;
}

.padhead {
  padding: 2vw;
}

.padhead, .padit {
  max-width: 100%;
  margin: 1vw auto;
}

#presentations {
  max-width: 100%;
  margin: 1vw auto;
  padding: 2vw;
}

#certnav {
    margin: 1vw auto;
    border-radius: 10px;
    font-size: $font3;
    font-weight: bold;
    a {
      text-decoration: none;
      color: $yellow;
    }
}

#siteTitle2 {
    font-weight: bold;
    text-align: center;
}

.inputs {
    max-width: 90%;
}

.textarea,
.inputs {
  background: $orange;
  color: black;
  border-radius: 10px;
  border: $inputborder;
  margin: 2vw;
}

textarea {
  width: 90%;
  height: 15vh;
}

footer#autofooter {
  color: $yellow;
  font-family: $fontsecond;
  font-size: 1.75vw;
  padding: 2vw;
  margin: 4vw;
  font-weight: bold;
  text-align: center;
}

.source {
  text-align: center;
  color: $royalblue;
  font-size: $font3;
  font-family: $fontfirst;
}

.sources {
  text-align: left;
  margin: 2vh auto;
  & a {
    text-decoration: none;
    font-weight: bold;
    color: $royalblue;
    font-size: $font3;
  }
}

.nomarg {
  margin-left: -8vw;
}

.code {
  background: $yellow;
  color: $royalblue;
  font-size: $font3;
  border-radius: 10px;
  padding: 1.5vw;
  font-family: $fontfirst;
  font-weight: bold;
  width: 90%;
  margin: 2vw auto;
  text-decoration: none;
  list-style: none;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}


/* Medium View */
@media screen and (min-width: 701px) {
    .normal-text {
      font-size: $font4;
    }
}

/* Large View */
@media screen and (min-width: 1201px) {
    .normal-text {
      font-size: $font3;
    }
}

/* Wide View */
@media screen and (min-width: 1701px) {
  h1 {
    font-size: 8px;
  }
  .normal-text {
    font-size: $font2;
  }
}