@import url("https://fonts.googleapis.com/css2?family=Dosis");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi&display=swap');

// Colors
$primary: #0300ca;
$p30: adjust-hue($primary, 30deg);
$p60: adjust-hue($primary, 60deg);
$p90: adjust-hue($primary, 90deg);
$p120: adjust-hue($primary, 120deg);
$p150: adjust-hue($primary, 150deg);
$p180: lighten(adjust-hue($primary, 180deg), 6%);
$p-150: adjust-hue($primary, -150deg);
$p-120: adjust-hue($primary, -120deg);
$p-90: adjust-hue($primary, -90deg);
$p-60: adjust-hue($primary, -60deg);
$p-30: adjust-hue($primary, -30deg);

$accent3: lighten($primary, 10%);
$accent2: $p120;
$accent: $p60;
$headings: $accent;
$contrast: $p180;
$primaryborder: darken($primary, 20%);
$warning: darken($contrast, 50%);
$nav: $p-60;
$valid: $p-90;
$background: $primary;
$background2: $contrast;
//$background: darken($primary, 0%);
$bgmoz: -moz-linear-gradient(180deg, rgba(3,0,202,1) 0%, rgba(224,228,0,1) 67%);
$bgweb: -webkit-linear-gradient(180deg, rgba(3,0,202,1) 0%, rgba(224,228,0,1) 67%);
$bgfilter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0300ca",endColorstr="#e0e400",GradientType=1);
$lgradient: linear-gradient(180deg, lighten($primary, 20%), lighten($contrast, 10%));
$hgradient: linear-gradient(180deg, rgba(3,0,202,1), rgba(224,228,0,1));
$vgradient: linear-gradient(90deg, rgba(3,0,202,1), rgba(224,228,0,1));
$newhgradient: linear-gradient(
    180deg,
    hsl(241deg 100% 40%) 0%,
    hsl(69deg 9% 60%) 52%,
    hsl(61deg 100% 45%) 100%
  );
  $newvgradient: linear-gradient(
      180deg,
      hsl(241deg 100% 40%) 0%,
      hsl(69deg 9% 60%) 52%,
      hsl(61deg 100% 45%) 100%
    );

$debug: rgb(190, 255, 60);

$dkgrey: #3a3a3a;
$mdgrey: #686868;
$ltgrey: #bababa;
$primaryshadow: rgba(234, 250, 93, 0.95);
$mdgreyshadow: rgba(255, 227, 100, 0.75);
$oldwarning: #bd0000;

$formshadow: 0 0 10px $primary;
$greyshadow: 0 0 20px $mdgrey;
$radius: 10px;
$border: 2px solid $primary;
$borderb: 4px solid $primary;
$borderwarn: 4px solid $warning;
$bordervalid: 4px solid $valid;
$buttonborder: 4px solid white;
$inputborder: 4px solid $primaryborder;
$legendborder: 4px solid $mdgrey;

// Fonts
$fontprimary: 'Hubbali', sans-serif;
$fontsecond: 'Handlee', cursive;
$font1: max(1vh);
$font2: max(2vh);
$font3: max(3vh);
$font4: max(4vh);
$font5: max(5vh);
$font6: max(6vh);
$font7: max(7vh);
$fonth1: max(10vh);

// Dimensions
$cardwidth: max(28);
$htmob: max(6vh);
$htlg: max(7vw);
$htdesc: max(18vh);
$cht: max(60vh);
$height: max(35vh);

$headerfont: "Handlee", sans-serif;
$textfont: "Hubbali", sans-serif;
$headingfont: "Nunito", sans-serif;

// Font Awesome Icons
$fa-font-path:         "../webfonts" !default;
$fa-font-size-base:    16px !default;
$fa-font-display:      block !default;
$fa-css-prefix:        fa !default;
$fa-version:           "5.15.4" !default;
$fa-border-color:      $primary !default;
$fa-inverse:           $contrast !default;
$fa-li-width:          2em !default;
$fa-fw-width:          20em;
$fa-primary-opacity:   1 !default;
$fa-secondary-opacity: .4 !default;

html {
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    background: $primary;
    background: $bgmoz;
    background: $bgweb;
    background: $newhgradient;
    filter: $bgfilter;
    color: $contrast;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.color3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    padding: 2vw;
    background: transparent;
    border: $buttonborder;
    border-radius: $radius;
    margin: 4vw;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
    padding: 2vw;
    background: transparent;
    border: $buttonborder;
    border-radius: $radius;
    max-width: 100%;
    margin: 2vw;
    bottom: -2vw;
}

.buttons {
    background: $accent3;
    border: $buttonborder;
    border-radius: $radius;
    margin: 1vw auto;
    width: 100%;
    height: 10vh;
    padding: 1vw;
    color: $contrast;
    font-size: 1vw;
    font-weight: bold;
    font-family: $fontprimary;
    display: grid;
    grid-template-columns: 1fr;
    & .icon {
        margin: 0 auto;
        width: 4vw;
        height: 4vw;
    }
}

.padit {
    padding: 2vw;
    max-width: 100%;
    margin: 1vw;
}

.f1 {
    font-family: $fontprimary;
}

.f2 {
    font-family: $fontsecond;
}

.gridparts {
    border: 5px solid white;
    border-radius: 15px;
    margin: 0 auto;
    padding: 2vw;
    max-width: 100%;
    font-size: $font5;
    font-weight: bolder;
}

.primary { background: $p180; color: $primary; margin: 0; }
.p30 { background: $p-150; color: $p30; margin: 0; }
.p60 { background: $p-120; color: $p60; margin: 0; }
.p90 { background: $p-90; color: $p90; margin: 0; }
.p120 { background: $p-60; color: $p120; margin: 0; }
.p150 { background: $p-30; color: $p150; margin: 0; }
.p180 { background: $primary; color: $p180; margin: 0; }
.p-150 { background: $p30; color: $p-150; margin: 0; }
.p-120 { background: $p60; color: $p-120; margin: 0; }
.p-90 { background: $p90; color: $p-90; margin: 0; }
.p-60 { background: $p120; color: $p-60; margin: 0; }
.p-30 { background: $p150; color: $p-30; margin: 0; }



p#primary { background: $p180; color: $primary; margin: 0; }
p#p30 { background: $p-150; color: $p30; margin: 0; }
p#p60 { background: $p-120; color: $p60; margin: 0; }
p#p90 { background: $p-90; color: $p90; margin: 0; }
p#p120 { background: $p-60; color: $p120; margin: 0; }
p#p150 { background: $p-30; color: $p150; margin: 0; }
p#p180 { background: $primary; color: $p180; margin: 0; }
p#p-150 { background: $p30; color: $p-150; margin: 0; }
p#p-120 { background: $p60; color: $p-120; margin: 0; }
p#p-90 { background: $p90; color: $p-90; margin: 0; }
p#p-60 { background: $p120; color: $p-60; margin: 0; }
p#p-30 { background: $p150; color: $p-30; margin: 0; }


.bordered {
    border: 2px solid hotpink;
    padding: 10px;
    margin: 10px;
}

.navbar {
    background:#6ab446;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}


@media screen and (min-width: 768px) {

    .navbar-collapse {
        justify-content: center;
    }

    .color3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
